NEXT_PUBLIC_SUPABASE_URL=https://encdeecuxjfqlduccjon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuY2RlZWN1eGpmcWxkdWNjam9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTYwMzEsImV4cCI6MjA5NjI3MjAzMX0.dMf2lADIzroZs-Nf5eIWNdJ2X_IKsTfAn-33OVFwZzs
NEXT_PUBLIC_API_URL=http://localhost:4000
